@import 'global';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h6,
h5,
h4,
h3,
h2,
h1{
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    
}

ol{
   padding: 30px;
   color: rgb(155, 155, 155);
}

ul{
    padding: 0;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    // font-family: 'Comfortaa', cursive;
    font-family: 'Koulen', cursive;
    font-size: 18px;
    font-weight: 400;
    
}


.header {
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(0, 0, 0, .5);
        z-index: 1;
    }
}
.header__inner {
    z-index: 5;
    position: relative;

    
}
.header__top {
    
}
.header__logo {
}
.header__logo-img {
    width: 120px;
}
.header__logo-text {
    color: #fff;
    font-size: 20px;
}
.header__bottom {
    padding: 30px 0 ;
}
.header__bottom-title {
    color: #fff;
    font-family: 'Comfortaa', cursive;
}
.header__bottom-text {
    color: rgb(255, 255, 255);
}
.main {
    min-height: 100vh;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    padding: 100px 0;
}
.wrapper__title {
    font-family: 'Comfortaa', cursive;
    color: rgb(247, 231, 231);
}

.guide__box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}

.guide__bo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
}

.guide__image img{
    max-width: 500px;
    border: 10px solid #fff;
    margin: 0 auto;
     
 }

.guide__images{
    
}

.guide__images img{
    max-width: 500px;
   border: 10px solid #fff;
   transition: .5s;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   &:hover{
       transform: scaleY(.9);
   }
    
}
.guide {
}
.guide__items {
   

}
.guide__item {
}
.guide__item-name{}
.guide__list{}
.guide__list-item{}
.guide__list-link{
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: .5s;
    &:hover{
        color: rgb(255, 0, 0);
    }
}
.guide__item-link {
    font-size: 25px;
    color: rgb(255, 255, 255);
    transition: .5s;
    &:hover{
        color: rgb(255, 0, 0);
    }
}
.footer {
    
    color: white;
    width: 100%;
    background-color: black;
}
.footer__inner {
    display: flex;
    justify-content: center;
}
.footer__left {
}
.footer__left-text {
}
.footer__right {
    align-items: center;
}
.footer__list {
    display: flex;
    align-items: center;
 
    
}
.footer__list-item {

}


.page {
    padding: 50px ;
}
.page__title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 30px;
    padding: 20px; 
    font-family: 'Koulen', cursive;
    color: rgb(247, 231, 231);
}
.page__items {
}
.page__item {
    padding: 20px 0;

}
.page__item-text {
    font-family: 'Comfortaa', cursive;  
    font-size: 14px;
    color: rgb(255, 255, 255);

}

.page__top{
    border-bottom: 4px solid #000;
}


.guide__block-title{
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.guide__block{
    max-width: 500px;
    margin: 0 auto;
   
}

@media (max-width: 580px) {
    .page__title {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        font-size: 20px;
        padding: 20px; 
        font-family: 'Koulen', cursive;
        color: rgb(247, 231, 231);
    }

    .guide__item-link {
        font-size: 20px;
        color: rgb(255, 255, 255);
        transition: .5s;
        &:hover{
            color: rgb(255, 0, 0);
        }
    }

    .guide__bo{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 300px;
    }

    .guide__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 300px;
    }

    .page{
        padding: 0 10px;
    }

    .guide__image img{
        max-width: 350px;
       border: 10px solid #fff;
       transition: .5s;
       
       &:hover{
           transform: scaleY(.9);
       }
        
    }

    .guide__images img{
        max-width: 300px;
       border: 10px solid #fff;
       transition: .5s;
       
       &:hover{
           transform: scaleY(.9);
       }
        
    }

}

@media (max-width: 370px) {
    .page__title {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        font-size: 18px;
        padding: 20px; 
        font-family: 'Koulen', cursive;
        color: rgb(247, 231, 231);
    }

    .guide__item-link {
        font-size: 18px;
        color: rgb(255, 255, 255);
        transition: .5s;
        &:hover{
            color: rgb(255, 0, 0);
        }
    }

    .guide__bo{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 220px;
    }

    .guide__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 220px;
    }

    .page{
        padding: 10px 10px;
    }

    .guide__image img{
        max-width: 300px;
       border: 10px solid #fff;
       transition: .5s;
       
       &:hover{
           transform: scaleY(.9);
       }
        
    }

    .guide__images img{
        max-width: 200px;
       border: 10px solid #fff;
       transition: .5s;
       
       &:hover{
           transform: scaleY(.9);
       }
        
    }

}